.stat {
	background-color: var(--color-bg-variant);
	border-radius: 20px;
	position: relative;
	margin: 10px 0;
	height: 20px;
	width: 100%;
	transition: var(--transition-cubicbezier);
	border: 2.5px var(--color-primary-variant);
	border-style: inset;
	box-shadow: inset 0px 0px 5px 3px rgba(0,0,0,0.2);
}
.stat-bar {
	/* Local variables to switch between */
	--default-statbar-bg: linear-gradient(to left, var(--color-primary), var(--color-primary-variant));
	--red-statbar-bg: linear-gradient(to left, #eb5858, #ec3636);
	--yellow-statbar-bg: linear-gradient(to left, #F4E06D, #faeb20);
	--green-statbar-bg: linear-gradient(to left, #3AB4F2, #0078AA);

    background: var(--default-statbar-bg);
	box-shadow: 0 3px 3px -5px var(--color-bg), 0 2px 5px var(--color-bg-variant);
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	overflow: hidden;
	transition: var(--transition-bars);
}

.stat-bar h5{
	/* display: none; */
	text-shadow: 0px 0px 10px var(--color-bg);
	font-weight: 300;
	bottom: -1rem;
	position: relative;
	transition: var(--transition);
	opacity: 0;
	color: var(--color-primary-variant-light);
}
.stat:hover{
	transform: scale(1.3);
	cursor: default;
}
.stat:hover > .stat-bar{
	transform: scale(1.1);
}
.stat:hover > .stat-bar h5{
	display: flex;
	opacity: 1;
	bottom: 0rem;
	transition: var(--transition-cubicbezier);
}

/* ===================== Media Queries (Medium Devices) ======================== */
@media screen and (max-width: 1024px) {
	.stat-bar h5{
		display: none;
	}

	.stat{
		pointer-events: none;
	}
}

/* ===================== Media Queries (Small Devices) ======================== */
@media screen and (max-width: 600px) {

}