header{
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header_container{
    text-align: center;
    height: 100%;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    place-items: center;
}

/* =================== Header Centerpiece ================== */
.header_centerpiece{
    opacity: 0;
    margin: 0;
    width: 75dvw;
    height: 40dvh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: animation-header_centerpiece;
    animation-duration: 1s;
    animation-timing-function: ease;
    transition: var(--transition-cubicbezier);
    opacity: 1;
}

@keyframes animation-header_centerpiece{
    0%   {transform: translate(-50%, -70%); opacity: 0; filter: blur(5px);}
    100% {transform: translate(-50%, -50%); opacity: 1; filter: blur(0);}
}


.center{
    animation: bounce;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
    animation-iteration-count: infinite;
    animation-delay: 2s;
}

.header_centerpiece:hover > .center{
    animation-play-state: paused;
}

@keyframes bounce{
    0%   {transform: translateY(0);}
    50%  {transform: translateY(-15px);}
    100%  {transform: translateY(0);}
}
/* =================== main ================== */
.main{
    font-size: 1000%;
    position: relative;
    transition: var(--transition);
    text-shadow: 10px 10px var(--color-bg-variant),
                 15px 15px var(--color-primary),
                 20px 20px var(--color-primary-variant);
}

.header_centerpiece:hover > .center .main{
    text-shadow: none;
    font-size: 650%;
    cursor: default;
    color: var(--color-white);
}

/* =================== h5 ================== */
.header_centerpiece > .center h5{
    position: relative;
    top: 1rem;
    font-size: 150%;
    font-style: italic;
    transition: var(--transition);
    font-weight: 100;
}
.header_centerpiece:hover > .center h5{
    font-size: 0;
    cursor: default;
}

/* =================== .text-light ================== */
.header_centerpiece > .center .text-light{
    position: relative;
    bottom: 1.6rem;
    /* font-size: 105%; */
    font-size: 0;
    transition: var(--transition);
    color: var(--color-light);
}

.header_centerpiece:hover > .center .text-light{
    font-size: 105%;
    cursor: default;
 }

/* =================== CTA ================== */
.cta{
    margin-top: 2rem;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    transform: scale(0);
    transition: var(--transition);
}
.header_centerpiece:hover > .center .cta{
    transform: scale(1);
 }

/* =================== HEADER SOCIALS ================== */
.header_socials{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 1.4rem;
    position: absolute;
    left: 0;
    bottom: 13dvh;
    transition: var(--transition);
    filter: blur(3px);
}
.header_centerpiece:hover > .header_socials{
    bottom: 2.5dvh;
}

.header_centerpiece:hover > .header_socials{
    filter: blur(0px);
}
/* ===================== Media Queries (Medium Devices) ======================== */
@media screen and (max-width: 1024px) {
    header{
        height: 68vh;
    }

    .header_centerpiece > .center h1{
        text-shadow: none;
        font-size: 650%;
        transition: var(--transition);
        cursor: default;
        color: var(--color-white);
    }
    .center{
        animation-play-state: paused;
    }
    .header_centerpiece > .center .cta{
        transform: scale(1);
        transition: var(--transition);
     }

     .header_centerpiece ~.scroll_down{
        bottom: 15rem;
        transition: var(--transition);
    }

    .header_centerpiece ~.header_socials{
        bottom: 13rem;
        transition: var(--transition);
    }

    .header_centerpiece > .center .text-light{
        font-size: 105%;
        transition: var(--transition);
        cursor: default;
    }
}

/* ===================== Media Queries (Small Devices) ======================== */
@media screen and (max-width: 600px) {
    header{
        height: 100vh;
    }

    .header_socials, .scroll_down{
        display: none;
    }
}